@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Leckerli+One&family=Poppins:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Leckerli One', cursive;
    overflow: hidden;
}


body{
    background-image: url(assets/bg.jpg); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  backdrop-filter: blur(10px);
  color: #fff;
  font-size: 30px;

}
/* adding flex to both part of the screen */
.flex{
    display: flex;
    justify-content: space-evenly;
    padding: 100px;

}
#box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.samebox{
    border-radius: 25px;
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 25px;
}
input{
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    border: 2px solid white;
    color: #757575;
}
#level{
    background-color: rgb(255, 0, 140); 
    color: white; 
    border: 2px solid rgb(255, 0, 140); 
    cursor: pointer;
}


#start {
    background-color: greenyellow;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
/* making the page responsive */
@media screen and (max-width: 900px)  {
    img{
        transform: scale(1.1);
        margin-top: 10%;
    }
    .flex {
        width: 100%;
        height: 80%;
        flex-direction: column; 
        padding: 10px; 
        justify-content: space-between;
    }
    select{
        font-size: 40px;
        overflow-y: scroll;
        box-sizing: border-box;
    }
    #box {
        padding: 20px;

    }

    .samebox {
        width: 60%;
        margin-bottom: 10px;
        font-size: 35px;
    }
}