@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Leckerli+One&family=Poppins:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Leckerli One', cursive;
    overflow: hidden;
}


body{
    background-image: url(assets/bg.jpg); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  backdrop-filter: blur(10px);
  color: #fff;
  font-size: 30px;

}
/* adding flex to both part of the screen */
.flex{
    display: flex;
    justify-content: space-evenly;

    padding: 100px;

}
#box{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30%;
}

.samebox{
    border-radius: 25px;
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 25px;
}
input{
    background-color: white;
    border: 2px solid white;
    color: #757575;
}
#level{
    background-color: rgb(255, 0, 140); 
    color: white; 
    border: 2px solid rgb(255, 0, 140); 
    cursor: pointer;
    margin-bottom: 10%;
}


#start {
    background-color: #4E008A;
    border: 2px solid #4E008A;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}
/* making the page responsive */
@media screen and (max-width: 900px)  {
    img{
        margin-top: 0%;
        height: 300px;
        width: 300px;

    }
    .flex {
        width: 100%;
        height: 90%;
        flex-direction: column; 
        align-items: center;
        padding: 10px; 
    }
    #level{
        margin-bottom: 12px;
    }
    
    #box{
        margin-top: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    
    }

    .samebox {
        width: 150px;
        margin-bottom: 0px;
        font-size: 15px;
        height: 30px;
        /* padding: 20px; */
        
    }
}