@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Leckerli+One&family=Poppins:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Leckerli One', cursive;
    overflow: hidden;;
}
/* setting background image and giving it blur effect */
body{
    background-image: url(assets/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(10px);
    color: #fff;
}

#info-screen{
    flex-direction: column;
    gap: 10px;
    
}

#info-screen p, #target p{
    border-radius: 25px;
    width: 250px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.6) ;
    justify-content: center;
}

.flex{
    display: flex;
    align-items: center;
}

#game-screen{
    width: 435px;
    height: 430px;
    background-color: #1B31F2;
    border: 5px solid #1B31F2;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}


#game-screen img{
    width: 47px;
    height: 47px;
}

/* making the page responsive */
@media screen and (max-width: 1200px) {

    body{
        flex-direction: column;

    }
    #game-screen{
        width: 330px;
        height: 327px;
    }
    #info-screen p, #target p{
        border-radius: 25px;
        width: 150px;
        height: 50px;
        text-align: center;
        font-size: 15px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.6) ;
        justify-content: center;
    }
    #info-screen img{
        display: none;
    }
    #game-screen img{
        width: 35px;
        height: 35px;
        object-fit: cover;
    }
}