@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Leckerli+One&family=Poppins:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Leckerli One', cursive;
    overflow: hidden;;
}
/* setting background image and giving it blur effect */
body{
    background-image: url(assets/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    color: #fff;
    justify-content: space-around;
}
img{
    margin-top: 50px;
}
#message{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    height: 120px;
    width: 650px;
    font-size: 20px;
    padding: 20px;
    /* margin-top: 40px; */
}
/* making the restart button */
#restart{
    background-color: greenyellow;
    border: 2px solid greenyellow;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    margin-top: 0px;
    font-size: 25px;
    color: white;
}

/* making the page responsive */
@media screen and (max-width: 700px) {

    #message{
    border-radius: 25px;
    height: 40%;
    width: 95%;
    margin-top: 50px;
}
img{
    height: 200px;
    width: 300px;
    margin-top: 10px;
}
#restart{
    
    width: 250px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
}
}
